* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #427ff9;
  --hoverCTA: #264d99;
  --secondary: #f8c342;
  --section: #eaf1ff;
  --text: #1f1f1f;
  --primaryBackground: #f5f5f5;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-bold: "Helvetica Neue Bold", Helvetica, Arial, sans-serif;
}





.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: clamp(1rem, 5vw, 4rem);
  padding-right: clamp(1rem, 5vw, 4rem);
  box-sizing: border-box;
}

main .container {
  padding-bottom: 5rem;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-bold);
  color: var(--hoverCTA);
  font-size: clamp(2rem, 5vw, 2.875rem);
  font-weight: bold;
}

/* navbar */
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

nav {
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  max-height: 10rem;
}



nav li {
  list-style: none;
  position: relative;
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.75rem;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: bold;
  display: block;
  position: relative;
}

.logo img {
  height: clamp(75px, 10vw, 125px);
  max-width: 100%;
  min-width: 75px;
}

.nav-spacer{
  height: clamp(5rem, 18vh, 15rem);
}

nav a:hover {
  scale: 1.1;
  transition: 0.3s ease-in-out;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.3s ease-in-out;
}

nav a:hover::after {
  transform: scaleX(1);
}

.activePage {
  border-bottom: 2px solid var(--secondary);
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--primary);
  padding: 1rem;
  z-index: 999;
}

li:hover .dropdown-content {
  display: block;
  width: 250px;
}

.hamburger {
  cursor: pointer;
  display: none;
  margin: 2rem;
}

/* hero */
.hero img {
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: cover;
  padding-top: 5rem;
}

/* Scoller animation */

.scroller {
  animation: scrolling 3s ease-in-out infinite;
  font-size: 3.125rem;
  position: absolute;
  top: 85vh;
  left: 50%;
  right: 50%;
  color: white;
}

@keyframes scrolling {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0);
  }
}

h1 {
  font-size: 3.125rem;
  text-align: center;
  font-weight: lighter;
}

/*  */
/* Billede og tekst boks */
/*  */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.wrapper * {
  margin: 0 0 1rem 0;
}

.imageSection,
.textSection {
  flex: 0 0 50%;
  box-sizing: border-box;
}

.imageSection img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.imageSection {
  padding-left: 2rem;
}

.textSection {
  line-height: 150%;
  padding-right: 2rem;
}

.textSection p {
  font-size: 1rem;
}
.textSection h2 {
  margin-bottom: 1rem;
  line-height: 150%;
}

.textSection li {
  list-style-position: inside;
  list-style-type: "- ";
}

/* CTA forside */

.wrapperCTA {
  display: flex;
  line-height: 150%;
  gap: 2rem;
}
.wrapperCTA * {
  margin: 0 0 1rem 0;
}

.textSectionTwo {
  max-width: 80ch;
}

.iconSection {
  display: flex;
  flex-direction: column;
  color: var(--hoverCTA);
}

.iconSection .icon-text {
  display: flex;
  margin: 0;
  align-items: center;
  gap: 1rem;
  font-size: 1.125rem;
}

.iconSection i {
  font-size: 2rem;
  color: var(--hoverCTA);
}

/* Knap */

button {
  background-color: #80aaff;
  color: white;
  font-weight: bold;
  padding: 1rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: clamp(0.625rem, 5vw, 1.125rem);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

button:hover {
  transform: scale(1.1);
}

.lang-btn {
  padding: 0.5rem;
  box-shadow: none;
  margin-inline: 0.25rem;
  position: relative;
}
/* ContactCards */

.bestyrelseWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-bottom: 2rem;
}

.contactCard {
  max-width: 21.563rem;
  width: 100%;
  margin: 0 auto;
  word-break: break-word;
}

.contactCard img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.contactCard h3 {
  font-size: 1.5rem;
  color: var(--text);
}




article {
  max-width: 95ch;
}
article * {
  margin-bottom: 1rem;
}

/* footer */
footer {
  padding: 2rem clamp(1rem, 5vw, 5rem);
  background-color: #1e1e1e;
  color: #ffffff;
  font-weight: 600;
  /* width: 100%; */
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
  flex-wrap: wrap;
}

.footer-left p {
  line-height: 1.5;
}
.footer-left img {
  width: 8.875rem;
  height: auto;
}

.footer-right {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-right i {
  font-size: 5rem;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
}

/* googlemaps */

gmp-map {
  height: 31.25rem;
  width: 100%;
}

/* Slider */

.gallery {
  position: relative;
  width: 100%;
  max-width: 62.5rem;
  height: 25rem;
  margin: auto;
  overflow: hidden;
}

.gallery-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery-item {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 31.25rem;
  max-height: 31.25rem;
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform 0.2s ease, opacity 0.9s ease;
  z-index: 1;
}

.gallery-item.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  z-index: 3;
}

.gallery-item.prev {
  opacity: 0.7;
  transform: translate(-150%, -50%) scale(0.6);
  z-index: 2;
}

.gallery-item.next {
  opacity: 0.7;
  transform: translate(50%, -50%) scale(0.6);
  z-index: 2;
}

.gallery-buttons {
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
}

.quoteWrapper {
  text-align: center;
  max-width: 40ch;
  margin: auto;
  color: var(--hoverCTA);
}

.recordWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 3rem;
  padding-top: 2rem;
  width: 100%;
  margin: auto;
}

.recordWrapper .record {
  background-color: #80aaff;
  padding: 2rem;
  max-width: 22.625rem;
  border-radius: 8px;
  color: white;
  margin: 0 auto;
}

.recordWrapper .record h3 {
  color: white;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.godStilWrapper {
  margin: auto;
  max-width: 80ch;
}
.godStilWrapper > * {
  margin: 1rem;
  list-style-position: inside;
}

/* Kontigent */
.prisWrapper {
  background-color: #eaf1ff;
  padding: clamp(1rem, 4vw, 2rem);
  border-radius: 2rem;
  width: 100%;
  max-width: 59.563rem;
  margin: auto;
  box-sizing: border-box;
}

.priser {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  width: 100%;
  /* margin: auto; */
  gap: 4rem;
  margin-top: 2rem;
  list-style: inside;
  padding: 0;
}

.priser p {
  text-align: center;
  font-size: 2rem;
}

.prisInfo {
  max-width: 35.625rem;
  margin: 2rem auto;
  text-align: center;
}

.prisInfo button {
  max-width: 25rem;
}

.prisInfo * {
  margin-bottom: 1rem;
}

.prisInfo p:nth-of-type(2) {
  text-align: left;
}

/* Hold kort */

.holdCardWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
}

.accordion {
  display: none;
}

.holdCard {
  max-width: 100%;
  background-color: #eaf1ff;
  border-radius: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.holdCard img {
  width: 100%;
  height: 25rem;
  border-radius: 0.5rem;
  object-fit: cover;
  padding: 0;
  object-position: 50% 27%;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--text);
  font-weight: bold;
}

.icon {
  font-size: 1.2rem;
}

.cardContent {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.cardContent button {
  max-width: 12.5rem;
  font-size: 1rem;
}

.modalDialog {
  max-width: 100%;
  backdrop-filter: blur(10px);
  margin: 0 auto;
  position: fixed;
  top: 1rem;
  border-radius: 0.5rem;
  border: 2px solid white;
}

.modalDialog img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 0.5rem;
}

.modalDialog .closeBtn {
  position: absolute;
  right: 15px;
  top: 5px;
}
.modalContent {
  padding: 0.313rem 1.25rem;
  width: 50vw;
}

.modalContent p {
  padding-block: 5px;
}

.modalContent h3 {
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.modalContent .infoItem {
  padding-bottom: 3px;
}

.modalButton {
  background-color: #80aaff;
  color: white;
  font-weight: bold;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1.25rem;
  float: right;
  text-decoration: none;
  margin-top: 2px;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}



.traening-button {
  background-color: #80aaff;
  color: white;
  font-weight: bold;
  padding: 1rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: clamp(0.625rem, 5vw, 1.125rem);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

/* Media */

@media (max-width: 800px) {
  .wrapper,
  .wrapperCTA {
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
  }

  .imageSection,
  .textSection {
    flex: 1 1 100%;
    padding: 0;
  }

  .footer-top {
    gap: 1rem;
    align-items: flex-start;
  }

  .bestyrelseWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .holdCardWrapper {
    grid-template-columns: 1fr;
  }

  .recordWrapper {
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .priser {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .scroller {
    display: none;
  }

  .nav-spacer {
    height: 10rem;
  }

  .hamburger {
    display: block;
    z-index: 1;
    top: 2px;
    right: 2px;
  }

  .hamburger input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    width: 2.5rem;
    z-index: 2;
  }
  .hamburger input:checked ~ .nav-links {
    top: 100px;
  }

  .hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--primaryBackground);
    border-radius: 3px;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transform-origin: 4px 0px;
  }
  .hamburger input:checked ~ span {
    opacity: 1;
    transform: rotate(-45deg) translate(0, 0);
    background: var(--primaryBackground);
  }

  .hamburger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .hamburger input:checked ~ span:nth-last-child(2) {
    transform: rotate(45deg) translate(-8px, -10px);
  }

  .hamburger span:first-child {
    transform-origin: 0% 0%;
  }
  .hamburger span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .dropdown input {
    display: none;
  }

  .dropdown-content {
    display: none;
    position: unset;
    font-size: 1.25rem;
    justify-content: center;
  }

  .dropdown-content a {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .dropdown {
    width: 100%;
  }
  .dropdown-toggle {
    display: block;
    width: 100%;
    padding: 16px 0;
    text-align: center;
  }

  #dropdown-toggle:checked + label + .dropdown-content {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: -100%;
    gap: 0;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    width: 100%;
    text-align: center;
    transition: 0.5s ease-in-out;
    height: 90vh;
  }

  .nav-item {
    width: 100%;
    text-align: center;
  }
  .nav-item a {
    display: block;
    padding: 16px;
    margin: 0 auto;
  }
  li:hover .dropdown-content {
    display: block;
    width: 100%;
  }

  .nav-links.active {
    top: 100px;
  }

  .gallery {
    max-width: 100%;
    height: 13.75rem;
  }

  .gallery-item {
    max-width: 11.25rem;
    max-height: 11.25rem;
  }

  .footer-left img {
    width: 11.25rem;
  }

  .footer-right i {
    font-size: 2.5rem;
  }

  .bestyrelseWrapper {
    grid-template-columns: 1fr;
  }

  .bestyrelseWrapper .contactCard {
    align-items: center;
  
  }

  .prisWrapper {
    padding: 1rem;
  }

  .holdCard {
    background-color: white;
  }

  .cardContent h3 {
    text-align: center;
  }

  .cardContent p:nth-child(4) {
    display: none;
  }

  .openDialogBtn {
    display: none;
  }
  .accordion {
    display: block;
  }
  .accordion summary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    list-style: none;
    font-size: 3.125rem;
    rotate: 90deg;
  }

  .accordion[open] .accordion-arrow {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .accordion-arrow {
    transition: transform 0.3s ease;
  }
}
