* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #427ff9;
  --hoverCTA: #264D99;
  --secondary: #F8C342;
  --section: #EAF1FF;
  --text: #1F1F1F;
  --primaryBackground: #F5F5F5;
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-bold: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
}

header {
  padding-top: 100px;
}

main {
  margin: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-bold);
  color: var(--hoverCTA);
  font-size: 46px;
  font-weight: bold;
}


/* nav */

nav {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  display: inline-block;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 24px;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--primary);
}

li:hover .dropdown-content {
  display: block;
}














/* hero */
.hero img {
  width: 100%;
  height: auto;
  max-height: 90vh;
 
}





h1 {
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
}

/*  */
/* Billede og tekst boks */
/*  */


.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.wrapper * {
  margin: 0 0 1rem 0;
}

.imageSection,
.textSection {
  flex: 0 0 50%;
  box-sizing: border-box;
}

.imageSection img {
  width: 100%;
  /* max-width: 466px;  */
  object-fit: cover;
  vertical-align: middle;
}

.imageSection {
  padding-left: 2rem;
}

.textSection {
  line-height: 150%;
  padding-right: 2rem;
}

.textSection p {
  font-size: 16px;

  
}
.textSection h2 {
  margin-bottom: 1rem;
  line-height: 150%;
}

.textSection li {
  list-style-position: inside;
  list-style-type:"- ";
}


/* CTA forside */

.wrapperCTA {
  display: flex;
  line-height: 150%;
  gap: 2rem;
}
.wrapperCTA * {
  margin: 0 0 1rem 0;
}

.textSectionTwo {
  max-width: 80ch;
}

.iconSection {
  display: flex;
  flex-direction: column;
  color: var(--hoverCTA);
}

.iconSection .icon-text {
  display: flex;
  margin: 0;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
}

.iconSection i {
  font-size: 2rem;
  color: var(--hoverCTA);
}






/* Knap */

button {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  padding: 1rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  cursor: pointer;
}


/* ContactCards */

.bestyrelseWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;

}

.contactCard {
  box-sizing: border-box;
  max-width: 345px;
  padding: 2rem;
}

.contactCard img {
  width: 100%;

}


article {
  width: 60ch;
}
article * {
  margin: 1rem;
}





/* footer */
footer {
  padding: 2rem 5rem 2rem 5rem;
  background-color: #1E1E1E;
  color: #FFFFFF;
  font-weight: 600;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
}

.footer-left p {
  line-height: 1.5;
}
.footer-left img {
  width: 142px;
  height: auto;
}

.footer-right {
  display: flex;
  gap: 2rem;
}

.footer-right i {
  font-size: 5rem;
  cursor: pointer;
}


.footer-bottom {
  text-align: center;
  
}

/* googlemaps */

gmp-map {
  height: 500px; 
  width: 100%;
}


/* Slider */

.gallery {
  position: relative;
  width: 100%;
  max-width: 700px; 
  height: 400px; 
  margin: auto;
  overflow: hidden;
}

.gallery-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery-item {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 400px;
  max-height: 400px;
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform 0.2s ease, opacity 0.9s ease;
  z-index: 1;
}

.gallery-item.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  z-index: 3;
}

.gallery-item.prev {
  opacity: 0.7;
  transform: translate(-150%, -50%) scale(0.6);
  z-index: 2;
}

.gallery-item.next {
  opacity: 0.7;
  transform: translate(50%, -50%) scale(0.6);
  z-index: 2;

}

.gallery-buttons {
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
}


